<!doctype html>
<html class="notranslate" lang="en" translate="no">

<head>
    <meta name="description" content="A modern RIS designed for your workflow." />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="google" content="notranslate" />
    <meta charset="utf-8" />

    <link href="static/css/main.526f983e.css" rel="stylesheet">
    <link rel="apple-touch-icon" href="logo192.html" />
    <link rel="icon" href="static/favicon.ico" />
    
    <script defer="defer" src="static/js/main.5c5dbc1337.js"></script>
    
    <title>Aurison</title>
</head>

<body><noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
</body>

</html>